html,
body {
    height: 100vh;
}

/* =========TITRE========= */

h1 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    font-size: 70px !important;
    text-shadow: 1px 1px 2px rgb(160, 230, 31), 0 0 1em rgb(56, 247, 72), 0 0 0.2em rgb(137, 230, 84);
    filter: brightness(1.25);
}

@media (max-width:576px) {
    h1 {
        font-size: 30px !important;
    }
}

h2 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(160, 230, 31), 0 0 1em rgb(56, 247, 72), 0 0 0.2em rgb(137, 230, 84);
}

h3 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(160, 230, 31), 0 0 1em rgb(56, 247, 72), 0 0 0.2em rgb(137, 230, 84);
}


/* ========FIN TITRE========= */

/* ========PARAGRAPHE======= */

p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: rgb(105, 103, 103);
}

/* p {
    font-family: 'Cardo', Georgia, Times, serif;
	font-size: 18px;
	line-height: 25px;
    color: rgb(105, 103, 103);

} */


/* ========DEBUT LIEN========== */

a {
    text-decoration: none;
    color: #1fe5e9 !important;
}

a:hover {
    color: #1fe5e9 !important;
}

/*===========NAVBAR========== */
.navbar {
    background-color: #053180;
    font-size: 20px;
}

.navbar a {
    color: #1fe5e9 !important;
}

.navbar a:hover {
    color: #4ee91f !important;
}


.dropdown-menu {
    background-color: #053180 !important;
}

.dropdown-item {
    background-color: #053180 !important;
}

/* ======ACCUEIL======= */

#imgIntro {
    background-size: cover;
    height: 600px !important;
}

#space {
    background-color: #c5d6f57e;
}

/* ==========SECTION DROITE=========== */

/* Meilleur Article */
#colorText {
    text-decoration: none;
}

.card-header {
    background-color: #4e2cade7 !important;
}

/* ==========FOOTER========== */

#footerHeight {
    height: 190px;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
}

#mentionPoli {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* ====FORMULAIRE CONNEXION===== */

#bgImageConnexion {
    background-size: cover;
}