html,
body {
    overflow-x: hidden;
    font-size: 15px;
    height: 100%;
}

/* =========TITRE========= */

h1 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    font-size: 50px !important;
    text-shadow: 1px 1px 2px rgb(160, 230, 31), 0 0 1em rgb(56, 247, 72), 0 0 0.2em rgb(137, 230, 84);
    filter: brightness(1.25);
}

@media (max-width:576px) {
    h1 {
        font-size: 35px !important;
        text-align: center;
    }
}

@media (min-width:576px) {
    h1 {
        text-align: center;
    }
}


h2 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(160, 230, 31), 0 0 1em rgb(56, 247, 72), 0 0 0.2em rgb(137, 230, 84);
    margin-bottom: 10px;
}

h3,
h4 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(160, 230, 31), 0 0 1em rgb(56, 247, 72), 0 0 0.2em rgb(137, 230, 84);
}

/* ========PARAGRAPHE======= */

p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 25px;
    color: rgb(105, 103, 103);
}

/* ========LIEN========== */

a {
    text-decoration: none !important;
    color: 1px 1px rgb(31, 84, 230);
}

a:hover {
    color: #1fdce9 !important;
}

/* =====HEADER======= */
#imgHeader {
    background-image: url(/../assets/img/header.jpg);
    background-size: cover;
    height: 400px !important;
}

/* ========BACKGROUND FORM========= */
#signUpForm {
    background-image: url(/../assets/img/bgUpForm.jpg);
    background-size: cover;
    height: 100%;
}

#signInForm {
    background-image: url(/../assets/img/bgInForm.jpg);
    background-size: cover;
    height: 100%!important;
}

#addArticleForm {
    background-image: url(/../assets/img/bgAddArticle.jpg);
    background-size: cover;
    height: 100%!important;
}

#editUserForm {
    background-image: url(/../assets/img/bgEditUser.jpg);
    background-size: cover;
    height: 100%!important;
}

#bgGestionAdmin {
    background-image: url(/../assets/img/bgGestionAdmin.jpg);
    background-size: cover;
    height: 100%!important;
}



/* =========ESPACES ======== */
#space {
    background-color: #c5f5e594;
    height: 20px;
}

/*==========HOME ======== */
/*CARD*/
#cardHeight {
    margin-bottom: 10px;
}

/* =========INVALIDE FORMULAIRE========  */
.invalid-feedback-2 {
    color: red !important;
}

/* ========Boutton landspace====== */
/* .boutton {
    width: 20rem !important;
} */

/*===========NAVBAR========== */
.navbar-toggler {
    color: #1fe5e9 !important;
}

.navbar {
    background-color: #053180;
    font-size: 17px;
}

.navbar a {
    color: #1fe5e9 !important;
}

.navbar a:hover {
    color: #4ee91f !important;
}


.dropdown-menu {
    background-color: #053180 !important;
}

.dropdown-item {
    background-color: #053180 !important;
}

/* @media (min-width: 992px) {
    #logoutLogin {
        text-align: end;
    }
}
 */
/* ==========SECTION DROITE=========== */
/*RIGHT MENU*/
#btnConnect {
    background-color: #c5f5e594;
}

/* =======MEILLEUR ARTICLE========= */
#colorText {
    text-decoration: none;
}

/* ======couleur  des titres====== */
.card-header {
    text-shadow: 1px 1px 2px rgb(160, 230, 31), 0 0 1em rgb(56, 247, 72), 0 0 0.2em rgb(137, 230, 84);
}

/* ==========FOOTER========== */
#footerHeight {
    height: 230px;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

/* ========LANDING BACKGROUND============ */
#landingSpace {
    background-size: cover;
    background-image: url(/../assets/img/bgLanding1.jpg);
}

/* ==========FORMULAIRE AVATAR========= */

div.upload-wrapper {
    color: white;
    font-weight: bold;
    display: flex;
}

input[type="file"] {
    position: absolute;
    left: -9999px;
}

input[type="submit"] {
    border: 3px solid #555;
    color: white;
    background: #666;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #555;
}

label[for="file-upload"] {
    padding: 0.7rem;
    display: inline-block;
    background: #fa5200;
    cursor: pointer;
    border: 3px solid #ca3103;
    border-radius: 0 5px 5px 0;
    border-left: 0;
}

label[for="file-upload"]:hover {
    background: #ca3103;
}

span.file-name {
    padding: 0.7rem 3rem 0.7rem 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    background: #ffb543;
    color: black;
    border: 3px solid #f0980f;
    border-radius: 5px 0 0 5px;
    border-right: 0;
}

/* ++++++++++++++++++++++++++++ */
.page-section {
    padding: 8rem 0;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}

hr.divider-light {
    background-color: #fff;
}

/* =================PORTFOLIO============== */

.img {
    width: 200px;
    height: 300px;
    transition: transform .1s;
}

.img:hover {
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
transform: scale(1.5);
}
/* =============TEXTAREA COMMENTAIRE + ARTICLE============= */
.textarea1:invalid {
border: 2px dashed red;
}

.textarea1:valid {
    border: 2px solid lime;
}
/* ========================================= */
